<!-- <div style="display: flex;"> -->
    <!-- <app-sidenav></app-sidenav> -->

    <div style="padding: 20px 50px;background-color: #f6f6f6;">
        <h2>Dashboard</h2>

        <div style="display: flex; justify-content: space-between;" >

            <div #myPieChart style="width: 46%; height: 320px; background: white; border-radius: 24px;"></div>


            <div class="chart-container" style="background-color: white; border-radius: 24px; padding: 10px;width: 55%;">
                <canvas  id="MyChart" style=" height: 400px !important;">{{ chart }}</canvas>
            </div>
            <!-- <div style="background: white; margin-bottom: 20px; border-radius: 24px ; margin-left: 20px; width: 30%; height: 322px;">
                <h3 style="margin-top: 10px; padding-left: 10px; font-weight: 500;">List of Common Conditions :</h3>
            </div> -->
        </div>



        <div style="margin-top: 12px;">
            <div style="display: flex; justify-content: space-between;">
                <div class="card-cont" style="width: 240px; height: 150px; background-color: white;border-radius: 25px;">
                    <h4 style="padding-top: 14px; padding-left: 22px; font-weight: 600;">Patients</h4>
                    <div class="icon-cont"><mat-icon class="icon-style"  style="position: relative;top: 3px; left: 4px;">perm_identity</mat-icon></div>
                    <h2 style="padding-left: 22px;">5,000</h2>
                </div>

                <div class="card-cont" style="width: 240px; height: 150px; background-color: white;border-radius: 25px;">
                    <h4 style="padding-top: 14px; padding-left: 22px; font-weight: 600;">Reports</h4>
                    <div class="icon-cont"><mat-icon class="icon-style" style="position: relative;top: 3px; left: 4px;">description</mat-icon></div>
                    <h2 style="padding-left: 22px;">5,000</h2>
                </div>

                <div class="card-cont" style="width: 240px; height: 150px; background-color: white;border-radius: 25px;">
                    <h4 style="padding-top: 14px; padding-left: 22px; font-weight: 600;">Reports</h4>
                    <div class="icon-cont"><mat-icon class="icon-style" style="position: relative;top: 3px; left: 4px;">description</mat-icon></div>
                    <h2 style="padding-left: 22px;">5,000</h2>
                </div>
            </div>
        </div>

        <div class="table table-striped" style="margin-top: 30px; background: white; padding: 5px 15px; border-radius: 24px;">
            <p-table [value]="topTenPatientData" [tableStyle]="{'max-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr style="height: 60px;">
                        <th pSortableColumn="code" style="width:20%">Subject Id <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name" style="width:20%">Hadm Id <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="category" style="width:20%">Risk Group <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="quantity" style="width:20%">Age <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="price" style="width:20%">Gender <p-sortIcon field="price"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr style="border-top: 1px solid; height: 60px;" >
                        <td>{{patient.SUBJECT_ID}}</td>
                        <td>{{patient.HADM_ID}}</td>
                        <td>{{patient.Riskgroup}}</td>
                        <td>{{patient.AGE}}</td>
                        <td>{{patient.GENDER}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
<!-- </div> -->
