<div class="nav-all" style="display: flex;justify-content: space-between;box-shadow: 0px 4px 13px #dedcdc;">
  
    <div>
        <!-- <img src="../assets/Wellness_peers.png" style="height: 50px;width: 50px;"> -->
    </div>

    <div id="down-nav">
  
        <li class="dropdown">
            <span class="drop-text" type="button" >
              Dashboard
            </span>
        </li>

  
        <li class="dropdown">
            <span class="drop-text" type="button" >
                Patients
            </span>
        </li>
  
  
        <li class="dropdown">
            <span class="drop-text" type="button" >
                About Us
            </span>
        </li>
  
    <a class="btn btn-primary btn-transition">Logout</a>

    </div>
  </div>